*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background: url(image/weatherbl.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
   width: 100%;
   max-width: 500px;
   background-color: gold;
    color: rgb(10, 9, 9);
   margin: 100px auto 0;
   border-radius: 15%;
   padding: 40px 35px;
   text-align: center;
   background-size: cover;
}
 @media(max-width:420px){
    .card{
        width: 340px;
    }
}
.search{
    min-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 400px){
    .search{
      width: 30%;
     
    }
}
button img{
    height: 4vh;
    width: 4vh;
    display: flex;
    position: relative;
    left: 12px;
}
@media(max-width:420px){
    button img{
        height: 2vh;
        width: 2vh;
    }
    button{
        height: 10px;
        width: 1vh;
        position: relative;
        right: 10vh;
    }
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.col img{
    height: 8vh;
    width: 8vh;
}
.weather h1{
    font-weight: 500;
    font-size: 80px;
}
.weatherh2{
    font-size: 45;
    font-weight: 300px;
    margin-top: -10px;
}
.details{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    padding: 0 20px;
    margin-top: 50px;
}
 .card .details .col{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}
.details{
    display: flex;
}